

body {
    background-color:#66332b;
    color:#FFFFFF;
    font-family: Helvetica, sans-serif;
}


.tablecenter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imagecenter    {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.logo-image {
    height: 40px; 
}
.banner-image {
    height: 300px; 
}
.product-image {
    height: 50px; 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(61, 32, 19);
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(82, 49, 49);
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;    
}